@import '../../scss/variables';

.custom-input{
    padding-top: 4vh;
    width: 100%;

    &-title {
        font-weight: bold;
        font-size: 0.8em;
        color: rgb(131, 131, 131);
        margin-bottom: 10px;
    }

    >input {
        padding: 20px 20px;
        border-radius: 8px;
        border: 2px solid #eee;
        cursor: text;
        transition-duration: 0.3s;
        outline: none;
        font-size: 0.9em;
        width: 100%;

        &:focus {
            border: 2px solid $primary;
        }

        &:hover {
            border: 2px solid lighten($primary, 30%);
        }

        &::placeholder {
            color: #ccc;
        }
    }

    &-error {
        font-size: 0.7em;
        color: red;
        margin-top: 1vh;
    }
}