@import '../../../scss/mixins';

.auth-information {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;

    &-container {
        display: flex;
        flex-direction: column;
        padding: 30px 30px 0 30px;
        .logo {
            width: 40%;
            margin-bottom: 15px;
        }

        .title {
            font-size: 0.6em;
            width: 90%;
            text-align: left;
            color: #aaa;
        }
    }


    .doctor {
        width: 100%;
        height: 80%;
        object-fit: contain;
        padding: 30px;
    }
}

@media (max-width: 500px) {
    .auth-information {
        height: auto;
        width: 100%;
        align-items: center;
        &-container {
            @include flexCenter;
        }
        .doctor {
            display: none
        }
    }
}

@media (max-width: 1000px) {
    .title {
        display: none;
    }

    .auth-information {
        align-items: center;
        &-container {
            .logo {
                padding: 5px;
                width: 60%;
            }
        }
        .doctor {
            padding: 10px;
        }
    }
}