@import '../../scss/mixins';

.loading-container {
    width: 1005;
    height: 100%;
    min-height: 80vh;
    overflow-y: hidden;
    @include flexCenter;
    font-size: 3em;
    font-weight: bold;
}